.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

#spacing {
  letter-spacing: 1em;
}

@media (max-width: 575.98px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}
